* {
    font-family: sans-serif;
}

button {
    background-color: darkcyan;
    color: white;
    border: none;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 20px;
    font-weight: bold;
}

p {
    width: 50%;
}